{{ define "front/detail.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保修单详细信息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
          <h1 class="title">
            古中多媒体报修平台
          </h1>
          <p class="subtitle"  style="padding-top: 20px;">
             <strong>详情页面</strong>
          </p>
          
        </div>
      </section>
    <div class="container">
        <nav class="level is-mobile">
            <p class="level-item has-text-centered">
              <a class="link is-info" href="/">首页</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info"  href="/baoxiu">报修</a>
            </p>
            <p class="level-item has-text-centered">
              <img src="/static/pic/log.png" alt="" style="height: 30px;">
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info">已修好</a>
            </p>
            <p class="level-item has-text-centered">
              <a class="link is-info">无法修复的</a>
            </p>
          </nav>
    </div>
    <div class="container">
        
    </div>
   

    
      <div class="container"  style="padding-top: 20px;">
          <article class="message">
            <div class="message-header">
              <p>报修说明</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
             需要修理多媒体的班级，请点击“报修”去填写相关信息。按记录时间先后修理。<strong>为快速解决问题，请如实记录</strong>,
            </div>
          </article>
      </div>
      
      <!-- <div class="columns is-mobile">
        <div class="column">1</div>
        <div class="column">2</div>
        <div class="column">3</div>
        <div class="column">4</div>
      </div> -->
      <div class="container" style="padding-top: 20px;">
        <!-- The magical tile element! -->
        <div class="box">
          <div class="field">
            <label class="label">班级：{{.rec.Nianji}}{{.rec.Banji}}班</label>
          </div>
          <div class="field">
            <label class="label">故障问题</label>
            {{range .taglist}}
            <span class="tag {{.Feature}}">
              {{.Tagname}}
            </span>
            {{end}}
          </div>
          <div class="field">
            <label class="label">故障描述：{{.rec.Descrip}}</label>
          </div>

          <div class="field">
            <label class="label">报修时间：{{printf "%.19s" .rec.Bx_time}}</label>
          </div>
          <div class="field">
            <label class="label">联系电话：{{.rec.Bx_tel}}</label>
          </div>
          <div class="field">
            <label class="label">联系人：{{.rec.Bx_teacher}}</label>
          </div>
          
  
        </div>
      </div>
      </div>

      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>古中报修平台</strong> by <a href="#">Jack xu</a>.<br>
            报修平台<a>管理</a>
            <!-- <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>. -->
          </p>
        </div>
      </footer>
</body>
</html>

{{end}}